#first-grid{
    display:grid;
    grid-template-columns: 1fr 1fr;

}
#sec-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}
#third-grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
#first{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
#sec{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
#third{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
#links{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#nav-grid{
    display: grid;
    grid-template-columns: 5fr 1fr;
}
@media only screen and (max-width: 1000px) {
    .contacts{
        display:none;
    }
    #first-grid{
        display:grid;
        grid-template-columns: 1fr;
    
    }
    #sec-grid{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
}
@media only screen and (max-width: 850px) {
   
    #first-grid{
        display:grid;
        grid-template-columns: 1fr;
    
    }
    #third-grid{
        display: grid;
        grid-template-columns: 1fr ;
    }
}


@media only screen and (max-width: 650px) {
   
  
    #sec-grid{
        display: grid;
        grid-template-columns: 1fr ;
    }
   
   
}
@media only screen and (max-width: 450px) {
   
    #first1{
        display: none;
    }
    
    #first-grid{
        display:grid;
        grid-template-columns: 1fr;
    
    }
    #sec-grid{
        display: grid;
        grid-template-columns: 1fr ;
    }
    #third-grid{
        display:grid;
        grid-template-columns: 1fr ;
    }
    #first{
        display: grid;
        grid-template-columns: 1fr ;
    }
    #sec{
        display: grid;
        grid-template-columns: 1fr ;
    }
    #third{
        display: grid;
        grid-template-columns:  1fr;
    }
    
}
@media only screen and (max-width: 360px) {
    .contacts{
        display:none;
    }
    #links{
        grid-template-columns: 1fr;
    }
   
}