#head{
    margin-left: 62vw;
    margin-top: 10vh;
    font-size: 3rem;
    color: #3a3768;
}
.ui.form{
    margin-top: 1vh;
    width: 20vw;
    margin-left: 62vw;
    width: 23vw !important;
    background-color: #009688;
    color: #3a3768;
    padding: 3vh 1vw;
    border-radius: 7px;  
}
#two{
    position: absolute;
    margin-left: 5vw;
    margin-top: -51vh;
}
.field label{
    color: #fff !important;
    font-size: 1.1rem !important;
    font-weight: 600 !important;
}
input{
    padding: 1.25vh 1vw !important;
}

#login-submit{
    background:#3a3768 !important;
    color:#fff !important;
    border-radius: 45px;
    padding: 9px 25px;
    transition: 0.2s;
    font-weight: 600;
    border: #3a3768 2px solid;
}
#register{
    color: #3a3768 ;
}
#register:hover{
    color:red
}
.lead{
    margin-top: -0.5vh !important;
    margin-bottom: 0.5vh !important;
    color: #fff;
}
@media only screen and (max-width: 370px) {

    #for-form{
        position:absolute;
        margin: 16vh 10.5vw 0 13vw;
    }
 #head{
     margin-left: 20vw;
     margin-top: 5vh;
 }
    .ui.form{
        width:41vh !important;
        padding: 3vh 4vw !important;
        margin-top: 1vh !important;
    }
    #two-svg{
        display: none;
    }
    
} 