#open{
    color:#009688;
    font-size: 0rem;
    position: absolute;
    justify-self: center;
    margin-top: 1vh;
    cursor: pointer;
}
#close{
    color:#009688;
    font-size: 0rem;
    position: absolute;
    justify-self: center;
    margin-top: 1vh;
    cursor: pointer;
}
.first-nav{
    padding: 2.5vh 2.5vw;
    background: rgb(63, 61, 86);
    border-bottom: #009688 solid 0.5vh;
    width: 100% !important;
}
/* brand logo */
#heading{
    margin-left: 3vw;
    font-family: 'PT Sans', sans-serif; 
    font-size: 2.9rem;
    color:#009688;
}
.contacts{
    position: absolute;
    margin-top: -8vh;
    margin-left: 68vw;
}
.phn-no{
    color:#fff;
    font-family: 'PT Sans', sans-serif;
}
#login{
    position: absolute;
    margin-left: 1vw;
    margin-top: -2.5vh; 
    background: #009688;
    color: #ffffff;
}
#navbar{
    margin-top: 0.6vh;
    padding-left: 14vw;
    transition: 1s ease-in-out;
    margin-bottom: 5vh;
}
.item{
    padding-top: 1.2vh !important;
    margin-left: 5vw !important;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: medium;
    color: #009688!important;
}
/* CONTENT */

#head-one{
    margin-top: 3vh;
    font-family: 'PT Sans', sans-serif; 
    font-size: 3rem;
    color:rgb(63, 61, 86);
    margin-bottom: 0.7vh;
}
#sub-one{
    margin-top: 0;
}
#slides{
    margin-left: 1vw;
}
.feature{
    font-size: 1.2rem;
}
.checkmark{
    color: #009688;
}
#register{
    margin-left: 2vw;
    background: #009688;
    color: #ffffff;
    margin-right: 1vw;
}
/* SVG one */
#one{
    margin-top: 3vh;
    justify-self: center;
}
.own{
    display: inline-block;
    color:#009688;
}
#head-two{
    font-family: 'PT Sans', sans-serif; 
    font-size: 3.2rem;
    color:rgb(63, 61, 86);
    margin-top:10vh;
    text-align: center;

}
.ui.card{
    margin-top: 3vh ;
    height: 70vh; 
    width: 80%;
    justify-self: center;
}
#card1{
    margin-top:3vh;
}
.header{
    padding-top: 1vh;
    text-align: center;
    padding-bottom: 2vh !important;
    font-size: 1.4rem !important;
    color: #009688 !important;
}
.description{
    text-align: center !important;
    padding-top: 11vh;
    font-size: 7.8rem;
    color: rgb(63, 61, 86) !important;
    
}
.data{
    text-align: center;
}
.star:hover{
    color:rgba(255, 20, 20, 0.932) !important;
}
.certificate:hover{
    color:rgba(251, 255, 20, 0.932) !important;
}
.trophy:hover{
    color:#B9F2FF !important;
}
.gem:hover{
    color:rgb(92, 2, 128) !important;
}
.packs{
    background: #009688 !important;
    color: #ffffff !important;
    
}
/* third Screen */
#head-three{
    font-family: 'PT Sans', sans-serif; 
    font-size: 3.2rem;
    color:rgb(63, 61, 86);
    align-self: center;
    justify-self: center;
 }
 .sub-three{
    color: #009688;
    padding-right: 4vw;  
}
#third-grid{
    margin-top: 8vh;
}
.steps{
    padding-right: 8vw;
}
#footer{
    margin-top: 20vh;
    background: #000;
    height: 15vh;
    margin-bottom: 0;
    width: 100%;
}
#links{
    padding-top: 6vh;
    margin-left: 7vw;
    font-size: 2rem;  
}
#foot-note{
    color: #009688;
    font-size: 1.3rem !important;
}
#foo-note{
   justify-self: end;
}
.links{
    color: #009688!important
}
/* Scrollbar*/
::-webkit-scrollbar-track
{     
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb
{
	background-color: #009688;
}

@media only screen and (max-width: 600px) {
    #navbar{
        margin-top: 0;
        height: 58vh;
        z-index: 1000;
        background: rgb(63, 61, 86);
    }
    .menu .item{
        padding: 2vh 0vw !important;
        border-radius: 0 !important;
        font-family: 'Cabin Sketch', cursive;
        width: 100% !important;
        font-size: 2rem;
        margin-left: 0% !important;
        padding-left: 38% !important;
        margin-right: 5vw !important;
        border-bottom: #009688 solid 2px !important;
 
    }
    #first1{
        display: none;
    }
    
    #open{
        font-size: 2.4rem;  
    }
    #close{
        font-size: 0rem;
    }
    .first-nav{
         
         padding: 2vh 1.5vw;
     }
     #heading{
        font-size: 2rem;
    }
    #navbar{
        border-bottom: 1vh solid #009688;
        border-right: 3px solid #009688 ;
        border-left: 3px solid #009688 ;
        border-radius: 0 0 10px 10px;
        display: none;
    }
    #head-one{
        padding-left: 5vw;
        font-family: 'Oswald', sans-serif;
        font-size: 3rem !important;
    }
    #head-two{
        padding: 0 1vw;
        font-family: 'Oswald', sans-serif;
        font-size: 3rem !important;
    }
    #head-three{
        
        font-family: 'Oswald', sans-serif;
        font-size: 3rem !important;
        padding-left: 5vw;
    }
    #sub-one{
        padding-left: 5vw;
    }
    .feature{
        padding-left: 5vw;
    }
   .sub-three{
       padding-left: 5vw;
   }
   .steps{
       padding-left: 5vw;
   }
   #new{
       margin-top: 2vh;
   }

    #links{
        padding-top: 2vh;
        font-size: 1.3rem;
    }
    #foo-note{
        justify-self: start;
    }
    #foot-note{
        font-size: 1rem !important;
        padding-top: 4px;
    }
    #footer{
        border-radius: 10px 10px 0 0 ;
    }
}
@media only screen and (max-width: 800px) {
    
    .first-nav{
         
         padding: 2vh 1.5vw;
     }
     #heading{
        font-family: 'Cabin Sketch', cursive;
        font-size: 2rem;
    }
    #head-one{
        padding-left: 5vw;
        font-family: 'Oswald', sans-serif;
        font-size: 3rem !important;
    }
    #head-two{
        padding: 0 1vw;
        font-family: 'Oswald', sans-serif;
        font-size: 3rem !important;
    }
    #head-three{
        
        font-family: 'Oswald', sans-serif;
        font-size: 3rem !important;
        padding-left: 5vw;
    }
    #sub-one{
        padding-left: 5vw;
    }
    .feature{
        padding-left: 5vw;
    }
   .sub-three{
       padding-left: 5vw;
   }
   .steps{
       padding-left: 5vw;
   }
   #navbar{
       padding-left: 5vw;
   }
   #head-three br{
       display: none;
   }

    #links{
        padding-top: 2vh;
        font-size: 1.3rem;
    }
    #foo-note{
        justify-self: start;
    }
    #foot-note{
        font-size: 1rem !important;
        padding-top: 4px;
    }
    #footer{
        border-radius: 10px 10px 0 0 ;
    }
}