/* first nav */
.first-nav{
    padding: 3vh 2.5vw;
    background: rgb(63, 61, 86);
}
/* brand logo */
#heading{
    margin-left: 3vw;
    font-family: 'PT Sans', sans-serif; 
    font-size: 2.9rem;
    color:#009688;
}
/* logo Right */
.contacts{
    position: absolute;
    margin-top: -8vh;
    margin-left: 68vw;
}
.phn-no{
    color:#fff;
    font-family: 'PT Sans', sans-serif; 
}
#sec{
    
    margin-left: -3.6vw;
}
#login{
    position: absolute;
    margin-left: 1vw;
    margin-top: -2.4vh;
    background: #009688;
    color: #ffffff;
}
#navrule{
    background: #009688;
    margin: -2px;
    height: 0.4vh;
}
/* navbar */
#navbar{
    margin-top: 0.6vh;
    padding-left: 14vw;
}
.item{
    padding-top: 1.2vh !important;
    margin-left: 5vw !important;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: medium;
    color: #009688!important;
}
#content1{
    margin-right: 0;
}
.content-one{
    position:absolute;
    margin: 7.8vh 10.5vw 0 52vw;
}
#head-one{
    font-family: 'PT Sans', sans-serif; 
    font-size: 3.2rem;
    color:rgb(63, 61, 86);
    margin-bottom: 0.7vh;
}
#sub-one{
    margin-top: 0;
}
#slides{
    margin-left: 1vw;
}
.feature{
    font-size: 1.2rem;
}
.checkmark{
    color: #009688;
}
#register{
    background: #009688;
    color: #ffffff;
    margin-right: 1vw;
}
/* ONE */
#one{
    margin-top: 7.8vh;
    margin-left: 3.5vw;
}
.own{
    display: inline-block;
    color:#009688;
}
.angle{
    font-size: 2rem !important;
    color: #009688;
}
#head-two{
    font-family: 'PT Sans', sans-serif; 
    font-size: 3.2rem;
    color:rgb(63, 61, 86);
    margin-top:62.7vh;
    margin-left: 80vw;

}
/* cards */
.ui.card{
    position: absolute;
    margin-top: 3vh;
    margin-bottom: 20vh !important;
    width: 20vw;
    height: 70vh;
}
#card1{
    margin-left: 58vw;
}
#card2{
    margin-left: 81vw;
}
#card3{
    margin-left: 106vw;
}
#card4{
    margin-left: 130vw;
}
.header{
    padding-top: 1vh;
    padding-left: 5vw !important;
    padding-bottom: 2vh !important;
    font-size: 1.4rem !important;
    color: #009688 !important;
}
.description{
    padding-left: 4.2vw !important;
    padding-top: 11vh;
    font-size: 7.8rem;
    color: rgb(63, 61, 86) !important;
    
}
.star:hover{
    color:rgba(255, 20, 20, 0.932) !important;
}
.certificate:hover{
    color:rgba(251, 255, 20, 0.932) !important;
}
.trophy:hover{
    color:#B9F2FF !important;
}
.gem:hover{
    color:rgb(92, 2, 128) !important;
}
.packs{
    background: #009688 !important;
    color: #ffffff !important;
    
}
/* third Screen */
 #head-three{
    margin-top: 130vh;
    margin-bottom: 25vh !important;
    padding-left: 5vw;
    font-family: 'PT Sans', sans-serif; 
    font-size: 3.2rem;
    color:rgb(63, 61, 86);
    margin-bottom: 0.7vh;
 }
 #icon-steps{
     position: absolute;
     margin-top: -65vh;
     margin-left: 44vw;
     margin-bottom: 20vh;
     /* margin-right: 20vw; */
 }
 .sub-three{
     position: absolute;
     margin-top: -20vh;
     margin-left: 16vw;
     color: #009688;
     
 }
 .steps{
    margin-top: -15vh;
    margin-left: 16vw;
    margin-right: 14.5vw;
    color: rgb(63, 61, 86);
} 
#sec-step{
    margin-top: -25vh;
}
#sec-step2{
    margin-top: -20vh;
}
#footer{
    margin-top: 70vh;
    background: #000;
    height: 15vh;
    margin-bottom: 0;
}
#links{
    padding-top: 6vh;
    margin-left: 7vw;
    font-size: 2rem;
   
}
.links{
    color: #009688!important
}
#foot-note{
    display: inline;
    color: #009688;
    font-size: 1.3rem !important;
    margin-left: 50vw;
}
/* Scrollbar*/
::-webkit-scrollbar-track
{     
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb
{
	background-color: #009688;
}

/* 
 blue: rgb(63, 61, 86)
 green:#009688
*/


/* Responsive */

@media only screen and (max-width: 370px) {
   
     .first-nav{
         padding: 2vh 1.5vw;
     }

     #heading{
         font-size: 2rem;
     }
} 
