@media only screen and (max-width: 370px) {

   #navbar{
       margin-top: 0;
       height: 64vh;
       z-index: 1000;
       background: rgb(63, 61, 86);
   }
   .menu .item{
       padding: 2vh 0vw !important;
       border-radius: 0 !important;
       font-family: 'Cabin Sketch', cursive;
       width: 100% !important;
       font-size: 2rem;
       margin-left: 0% !important;
       padding-left: 30% !important;
       margin-right: 5vw !important;
       border-bottom: #009688 solid 2px !important;

   }
   
} 